{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Login | GadgetPort</title>
{% endblock meta %}
{% block content %}
<div class="flex items-center container mx-auto h-screen font-inter">
    <div class="hidden md:flex justify-center basis-7/12">
        <img src="{% static 'img/Logo.png' %}" width="480px" alt="Logo GadgetPort">
    </div>
    <div class="md:basis-5/12 my-auto mx-auto">
        {% comment %} <a class="z-10" href="/"><img class="mx-auto -mt-24 mb-12" src="{% static 'img/Logo.png' %}" width="220px" alt="Logo GadgetPort"/></a> {% endcomment %}
        <div class="bg-white px-10 pt-8 pb-12 rounded-lg shadow-2xl w-96 md:w-auto max-w-sm md:max-w-2xl">
            <p class="font-bold text-3xl text-[#6499E9] text-center font-extrabold mt-10 mb-4 md:mb-32">Login</p>
            <form id="reg-form" method="POST">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-y-5 gap-x-4">
                    <div>
                        <p class="text-sm font-medium">Username:</p>
                        <div>
                            <input class="border w-full rounded-lg text-sm px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" type="text" name="username" placeholder="username"/>
                        </div>
                        <p class="absolute text-xs text-blue-500 pt-1" id="username-msg"></p>
                    </div>
                    <div>
                        <p class="text-sm font-medium">Password:</p>
                        <div>
                            <input class="block border w-full rounded-lg text-sm px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" type="password" name="password" autocomplete="new-password" required id="id_password1">
                            <p id="pass1-msg" class="text-xs leading-tight pt-1"></p>
                        </div>
                    </div>
                </div>
            </form>
            {% if messages %}
                <div class="messages mt-2 md:mt-32 mb-4">
                    {% for message in messages %}
                    <p class="text-xs md:text-sm text-blue-500 text-center">{{message}}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div class="messages mt-12 md:mt-32 mb-4"></div>
            {% endif %}
            <button id="submit-btn" form="reg-form" class="w-full bg-[#6499E9] text-white disabled:bg-gray-300 transition duration-200 hover:bg-[#83B4FF] rounded-lg py-2" type="submit" value="Register">Login</button>
            <p class="text-sm pt-6 text-center">Don't have an account yet? <a class="text-[#83B4FF] hover:text-[#6499E9]" href="{% url 'authentication:register' %}">Register</a></p>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}

{% endblock script %}