{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block meta %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> {% endcomment %}
{% endblock meta %}

{% block content %}
<style>
    .modal {
        position: absolute;
        width:30%;
        top: 50%;  /* Position the modal at the center of the parent container */
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    /* Tambahkan gaya CSS untuk memperjelas tampilan input */
    .form-control {
        border: 2px solid #007bff; /* Ganti warna border sesuai kebutuhan */
        border-radius: 0.375rem; /* Border radius untuk sudut yang lebih halus */
        padding: 0.375rem 0.75rem; /* Padding untuk ruang di dalam input */
    }
    
    .form-control:focus {
        border-color: #0056b3; /* Warna border saat fokus */
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Bayangan saat fokus */
    }
</style>
<div id="body">
<div class="container mx-auto p-4">
    <div class="flex">
        <!-- Product Image -->
        <div class="flex justify-center items-center w-[300px] h-[300px]">
            <img alt="product image" class="object-contain w-full h-full" src="{{ product.image_link }}"/>
        </div>
        <!-- Product Details -->
        <div class="w-1/2 pl-20 pr-10  ">
            <h1 class="text-2xl font-semibold">
                {{ product.name }}
            </h1>
            <p class="text-3xl font-bold mt-4">
                Rp {{ product.price|intcomma }}
            </p>
            <div class="mt-8">
                <h2 class="text-lg font-semibold">
                    Detail Produk
                </h2>
                <br>
                <p>{{ product.spec|safe }}</p>
            </div>
        </div>
            <!-- Purchase Section -->
        <div class="w-full md:w-1/3">
            <div class="bg-white rounded-lg shadow p-6 sticky top-4">
                <span class="text-lg font-bold mb-4">Jumlah :</span>
                <div class="mt-4 flex justify-between mb-4 border rounded">
                    <button class="px-2 py-1 border-r hover:bg-gray-100" onclick="decrement()">-</button>
                    <input class="w-12 text-center" type="text" value="1" id="jumlah"/>
                    <button class="px-2 py-1 border-l hover:bg-gray-100" onclick="increment()">+</button>
                </div>
                <a href="{% url 'cart_checkout:add_to_cart' product.id %}">
                <div class="flex justify-center text-gray-700 text-sm mt-4 p-4 w-full bg-[#6499E9] text-white py-3 rounded-lg hover:bg-blue-500">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>
                        <p class="text-white font-bold px-2 ">Keranjang</p>
                    </div>
                </div>
                </a>
                <a href="{% url 'wishlist:add_to_wishlist' katalog_id=product.id %}">
                <div class="flex justify-center mt-4 p-4 w-full bg-white text-[#6499E9] py-3 rounded-lg border border-blue-500 border-2 hover:bg-gray-100 font-bold ">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6499E9" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.76 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                        </svg>
                        <p class="text-[#6499E9] font-bold px-2 ">Wishlist</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Reviews Section -->
<div class="mt-8 flex ">
    <div class="w-1/4 pl-5">
        <h2 class="text-lg font-bold">Rating</h2>
        <div class="text-6xl font-bold mt-2">
            <div class="stars-outer" style="display: inline-block; position: relative; font-size: 30px; color: #ccc;">
                <span style="color: #ccc;">★★★★★</span>
                <div class="stars-inner" style="position: absolute; top: 0; left: 0; white-space: nowrap; overflow: hidden; color: #f8ce0b;">
                    <span>★★★★★</span>
                </div>
            </div>
            <div style="font-size: 90px; color: #000; margin-top: 8px;">
                {% if reviews %}
                    {{ average_rating|default:'5' }}
                {% else %}
                    0
                {% endif %}
            </div>
        </div>
        <div class="text-2xl pl-10">/ 5.0</div>
            <div class="mt-6">
            <!-- Button to trigger the review modal -->
            <button type="button" onclick="showModal()" class="bg-[#6499E9] hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg" data-bs-toggle="modal" data-bs-target="#Review">
                Add Review
            </button>
            </div>
        </div>
        <div class="w-2/3 ml-6">
            <div class="flex flex-col">
                <h2 class="text-xl font-bold mb-4">Semua Ulasan</h2>
                <div id="reviews" class="flex flex-col mt-5">
             
                </div>
            </div>
        </div>
    </div>
        
    <!-- Modal for adding a review -->
    <div id="Review" 
        class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out" 
        tabindex="-1" aria-labelledby="exampleModalLabel" 
        aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered mx-auto w-full max-w-lg p-4"> <!-- Responsif width dengan w-full dan max-w-lg -->
            <div class="modal-content rounded-lg shadow-lg">
                <div class="modal-header border-b border-gray-200 p-4 flex justify-between items-center">
                    <h1 class="modal-title text-lg font-semibold" id="exampleModalLabel">Add a Review</h1>
                </div>
                <div class="modal-body p-6">
                    <form id="reviewForm">
                        {% csrf_token %}
                        <input type="hidden" name="productId" id="productId" value="{{ product.id }}">

                        <div class="mb-4">
                            <label for="rating" class="block text-gray-700 font-medium mb-2">Rating</label>
                            <input type="number" name="rating" id="rating" min="1" max="5" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" required>
                        </div>

                        <div class="mb-4">
                            <label for="review_text" class="block text-gray-700 font-medium mb-2">Review</label>
                            <textarea class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" name="review_text" id="review_text" rows="3" required></textarea>
                        </div>

                        <div class="flex flex-col space-y-3 md:flex-row md:space-y-0 md:space-x-3 mt-6 border-t border-gray-200 pt-4">
                            <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md" data-bs-dismiss="modal" aria-label="Close" onclick="hideModal()">Cancel</button>
                            <button type="submit" form="reviewForm" class="bg-[#6499E9] hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal untuk mengedit review -->
    <div id="EditReview" 
        class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out" 
        tabindex="-1" aria-labelledby="editModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto w-full max-w-lg p-4">
            <div class="modal-content rounded-lg shadow-lg">
                <div class="modal-header border-b border-gray-200 p-4 flex justify-between items-center">
                    <h1 class="modal-title text-lg font-semibold" id="editModalLabel">Edit Review</h1>
                </div>
                <div class="modal-body p-6">
                    <form id="editReviewForm" onsubmit="submitEditReview(event)">
                        {% csrf_token %}
                        <input type="hidden" name="productId" id="editProductId" value="{{ product.id }}">
                        <input type="hidden" name="reviewId" id="editReviewId" >

                        <div class="mb-4">
                            <label for="editRating" class="block text-gray-700 font-medium mb-2">Rating</label>
                            <input type="number" name="rating" id="editRating" min="1" max="5" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" required>
                        </div>

                        <div class="mb-4">
                            <label for="editReviewText" class="block text-gray-700 font-medium mb-2">Review</label>
                            <textarea class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" name="review_text" id="editReviewText" rows="3" required></textarea>
                        </div>

                        <div class="flex flex-col space-y-3 md:flex-row md:space-y-0 md:space-x-3 mt-6 border-t border-gray-200 pt-4">
                            <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md" data-bs-dismiss="modal" aria-label="Close" onclick="hideEditModal()">Cancel</button>
                            <button type="submit" form="editReviewForm" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>
<script>
const productId = "{{ product.id }}";
const product = "{{ product }}";
const currentUserId = "{{ user.id }}"
</script>
<script>
// JavaScript untuk menambahkan review dan memperbarui daftar review
document.getElementById('reviewForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const productId = document.getElementById('productId').value;
    const rating = document.getElementById('rating').value;
    const reviewText = document.getElementById('review_text').value;

    // Validasi input
    if (!rating || !reviewText) {
        alert('Please provide a rating and review text.');
        return;
    }


    fetch(`/review/product/${productId}/add/`, {
        method: "POST",
        body: formData = new FormData(document.getElementById('reviewForm'))
    }).then(response => {window.location.reload();

    // Bersihkan form setelah submit
    document.getElementById("reviewForm").reset();
    hideModal();
});
});

function deleteReview(reviewId) {
    fetch(`/review/delete-review/${reviewId}/`, { // Menggunakan reviewId di sini
        method: 'DELETE',
    })
    .then(response => {
        if (response.ok) {
            return response.json(); // Mengambil data JSON dari respons
        }
        throw new Error('Network response was not ok.');
    })
    .then(data => {
        alert(data.message); // Menampilkan pesan berhasil
        window.location.reload(); // Reload halaman untuk memperbarui daftar ulasan
    })
    .catch(error => {
        alert('Error: ' + error.message); // Menampilkan pesan kesalahan
    });
}
    async function getReviews() {
        try {
            // Pastikan `productId` diinisialisasi dan memiliki nilai numerik
            const res = await fetch(`/review/get-product-review-json/${productId}/`);
            if (!res.ok) {
                console.error(`Error ${res.status}: ${res.statusText}`);
                throw new Error('Failed to fetch reviews');
            }
            return await res.json();
        } catch (error) {
            console.error('Fetch error:', error);
        }
    }


async function refreshReviews() {
    const reviews = await getReviews();
    document.getElementById("reviews").innerHTML = "";
    let htmlString = "";

    if (reviews.length === 0) {
        // Jika tidak ada ulasan, tampilkan pesan
        htmlString = `<p class="text-gray-500">Belum ada ulasan produk ini.</p>`;
    } else {
        reviews.forEach((review) => {
            const rating = review.fields.rating;
            const reviewText = review.fields.review_text;
            const username = review.user.username;
            const timestamp = review.fields.timestamp;
            const reviewOwnerId = review.user.id; // ID pemilik review
            const reviewId = review.id;
            htmlString += `
                <div class="user-review w-full max-w-3xl mx-0 mb-6">
                    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col space-y-4">
                        <div class="review-details flex items-center justify-between">
                            <div class="user flex items-center space-x-3">
                                <p class="text-lg font-semibold">${username}</p>
                            </div>
                            <div class="rating flex items-center space-x-2">
                                <span class="text-gray-600">Rating:</span>
                                <span class="text-gray-800">${rating}.0/5.0</span>
                            </div>
                            <div class="timestamp text-gray-500 text-sm">
                                ${timestamp}
                            </div>
                        </div>
                        <div class="review-text text-gray-700">
                            ${reviewText}
                        </div>`;

            // Menambahkan tombol Edit/Delete jika pengguna memiliki izin
            if (toString(currentUserId) === toString(reviewOwnerId)) {

                htmlString += `
                    <div class="flex space-x-2 mt-4">
                        <button class="bg-[#6499E9] hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg" onclick="editReview(${review.id})">Edit</button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg" onclick="deleteReview(${review.id})">Delete</button>
                    </div>`;
            }

            htmlString += `</div></div>`;
        });
    }

    document.getElementById("reviews").innerHTML = htmlString;
}

refreshReviews();

       
    function showModal() {
        let review = document.getElementById("Review");
        review.classList.remove("hidden");
        review.classList.add("flex");
        setTimeout(() => {
           // body.classList.add("bg-gray-100");
            review.classList.add("opacity-100");
        }, 20); 
    }

    function hideModal() {
        let review = document.getElementById("Review");
        review.classList.add("opacity-0");
        review.classList.remove("opacity-100");
        setTimeout(() => {
            review.classList.add("hidden");
            review.classList.remove("flex");
        }, 500); 
    }
// JavaScript untuk memanggil modal edit review
function editReview(reviewId) {
    // Ambil data review dengan cara yang benar
    fetch(`/review/get-review-data/${reviewId}/`)  // Endpoint ini perlu disesuaikan di server
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('editRating').value = data.rating;  // Pastikan ID input benar
            document.getElementById('editReviewText').value = data.review_text; // Pastikan ID input benar
            document.getElementById('editProductId').value = data.productId; // Pastikan ID input benar
            document.getElementById('editReviewId').value = reviewId; // ID review yang diedit

            showEditModal();  // Tampilkan modal edit
        })
        .catch(error => console.error('Error:', error));
}

function submitEditReview(event) {
    event.preventDefault(); // Mencegah reload halaman

    const reviewId = document.getElementById('editReviewId').value;
    const rating = document.getElementById('editRating').value;
    const reviewText = document.getElementById('editReviewText').value;

    fetch(`/review/edit-review/${reviewId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value // Menambahkan token CSRF
        },
        body: new URLSearchParams({
            'rating': rating,
            'review_text': reviewText
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            console.error('Error:', data.error);
        } else {
            // Menampilkan pesan sukses (opsional)
            console.log(data.message); // Atau gunakan alert atau modal untuk menampilkan pesan

            // Refresh halaman setelah sukses
            window.location.reload(); // Refresh halaman
            hideEditModal(); // Sembunyikan modal setelah menyimpan
        }
    })
    .catch(error => console.error('Error:', error));
    
}

function showEditModal() {
    let editReviewModal = document.getElementById("EditReview");
    editReviewModal.classList.remove("hidden");
    editReviewModal.classList.add("flex");
    setTimeout(() => {
        editReviewModal.classList.add("opacity-100");
    }, 20);
}

function hideEditModal() {
    let editReviewModal = document.getElementById("EditReview");
    editReviewModal.classList.add("opacity-0");
    editReviewModal.classList.remove("opacity-100");
    setTimeout(() => {
        editReviewModal.classList.add("hidden");
        editReviewModal.classList.remove("flex");
    }, 500);
}
let jumlah = document.getElementById('jumlah');
function increment(){
    jumlah.value = parseInt(jumlah.value) + 1;
}
function decrement(){
    if(jumlah.value > 1){
        jumlah.value = parseInt(jumlah.value) - 1;
    }
        }

// Ambil container rating dan pastikan average_rating dikonversi menjadi angka
const ratingContainer = document.querySelector('.stars-outer');
const averageRating = parseFloat("{{ average_rating }}"); // Ganti dengan rating rata-rata yang dinamis
const starTotal = 5.0;

// Hitung persentase bintang yang terisi
const starPercentage = (averageRating / starTotal) * 100;
const starPercentageRounded = `${Math.round(starPercentage)}%`; // Persentase dibulatkan

// Set lebar stars-inner agar sesuai dengan persentase
const starsInner = ratingContainer.querySelector(".stars-inner");
starsInner.style.width = starPercentageRounded;


</script>  
    
{% endblock content %}