{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Image dan search bar -->
<div class="grid grid-cols-3 items-center">
    <!-- Image -->
    <div class="col-span-2">
        <img src="{% static 'image/hero.png' %}" alt="Hero" class="w-auto"/>
    </div>
    <!-- Search Bar -->
    <div class="m-10 text-center">
        <p class="font-bold text-4xl gradient-teksintro">Cari kebutuhanmu Di Sini!</p>
        <!-- Search bar -->
        <input type="text" placeholder="Search..." class="border rounded-lg p-2 mt-2 w-full"/>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}